@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Roboto&display=swap');

header {
    font-family:  'Inspiration', cursive;
    font-size: 1.25em;
}

main{
    font-family: 'Roboto', sans-serif;
}